<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://hospital-zone.s3.jp-tok.cloud-object-storage.appdomain.cloud/main.css">
    <title>Home</title>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "5ab22cee-c07d-4ddb-ae26-bdb88fd5dae0", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "d474ee7e-83cc-4121-9073-74a36f948d7e", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

</head>  
    <style>    
        body {
           background-image:
             url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.meswadeoband.org%2Fdonations%2Fcancer-hospital%2F&psig=AOvVaw3By0eZNLEWtEa-mjaThXV4&ust=1668443830122000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCMjb3uHLq_sCFQAAAAAdAAAAABAD');
           background-repeat: no-repeat; background-size:150% 300% ;
}
</style>
<body>
    <table>
        <tr>
            <td>
                <img src="https://hospital-zone.s3.jp-tok.cloud-object-storage.appdomain.cloud/D.jpg" height="auto" width="350" alt="">
            </td>
            <td>
                <img src="https://hospital-zone.s3.jp-tok.cloud-object-storage.appdomain.cloud/A.jpg" height="auto" width="350" alt="">
            </td>
            <td>
                <img src="https://hospital-zone.s3.jp-tok.cloud-object-storage.appdomain.cloud/V.jpg" height="auto" width="350" alt="">
            </td>
            <td>
                <img src="https://hospital-zone.s3.jp-tok.cloud-object-storage.appdomain.cloud/I.jpg" height="auto" width="350" alt="">
            </td>
            <td>
                <img src="https://hospital-zone.s3.jp-tok.cloud-object-storage.appdomain.cloud/S.jpg" height="auto" width="350" alt="">
            </td>
        </tr>
    </table>
</body>
</html>
